/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200&display=swap');

/* Common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing: ;it will helpful for input field */
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header section  */
.header-section {
    width: 100%;
    height: 500px;
    background-color: rgba(255, 166, 0, 0.11);
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.orange-text {
    color: orange;
}

.header-title {
    width: 50%;
    /* parent width was 100%, now divided into 50% each*/
}

.header-title p {
    margin: 20px 0;
}

.header-image {
    width: 50%;
    /* parent width was 100%, now divided into 50% each*/
}

.header-image img {
    width: 100%;
    /* To make the img bigger at div container size*/
}

.button {
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(180deg, orangered, orange);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
}

/* Our services section */
.services {
    width: 100%;
    margin: 20px auto;

}

.title {
    text-align: center;
    font-size: x-large;
    padding: 20px;
}

.service-list {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    padding: 30px;
}

.service-card {
    width: 30%;
    background-color: rgba(255, 166, 0, 0.11);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-radius: 5px;
}

.card-img {
    width: 30%;
}

.card-img img {
    width: 80%;
    padding: 5px;
}

.card-text {
    width: 70%;
}

.card-text h4 {
    font-size: large;
    padding: 10px 0;
}

.card-text p {
    font-size: medium;
    color: rgb(57, 57, 57);
    padding-bottom: 10px;
}